button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: red;
  }